# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Data (Large files should not be committed)
data/
*.nii
*.nii.gz
*.dcm

# Models
models/
*.pth
*.pt
*.pkl
*.h5

# OS
.DS_Store
Thumbs.db
